.builder-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  background-color: #2c554f;
  border: 2px solid #2c554f;
  align-items: center;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  position: relative;
  justify-content: space-evenly;
}

.builder-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.builder-name {
  margin: 10px;
  text-align: center;
}

.builder-expertise {
  color: #4daa57;
  text-transform: capitalize;
}

.fee {
  width: 100%;
  margin-top: 0px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;

  margin: 0px;
}

.fee-title {
  font-weight: 600;
}

.checked-list-icon {
  height: 40px;
  width: 40px;
  object-fit: cover;
  position: absolute;
  right: -15px;
  top: -15px;
}
