.feedback-card {
  height: 90%;
  flex: 0 0 calc(33.3333% - 20px);
  /* width: 300px; */
  /* min-width: 350px; */
  border-radius: 1em;
  background-color: #2c554f;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  margin: 0px 11px;
  box-shadow: 0px 0px 5px #25403c;
}

.feedback-card:first-child {
  margin-left: 0px;
}

.feedback-card:last-child {
  margin-right: 0px;
}

.consumer-name {
  color: #4daa57;
  margin: 10px 0px;
  font-size: larger;
  text-transform: capitalize;
}

.feedback-card > h6 {
  margin: 10px 0px;
  color: #fff;
  font-size: large;
  text-transform: capitalize;
}

.service {
  margin-bottom: 10px;
  color: #4daa57;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.feedback {
  margin-top: 5px;
  color: #fff;
}

.rating-holder {
  display: flex;
  width: fit-content;
  align-self: flex-end;
  margin-top: 10px;
  /* align-items: flex-end; */
}

.star-img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin: 0px 2px;
}

.rating {
  color: #fff;
  font-size: large;
  margin: 0px 10px;
  align-self: last baseline;
}
