.home-segment-4-card {
  height: 100%;
  width: 25%;
  border-radius: 1em;
  border: 3px solid #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  justify-content: center;
}

.home-segment-4-card-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  filter: invert(100%);
}

.home-segment-4-card-title {
  color: #4daa57;
  margin: 10px 0px;
  font-size: large;
}

.home-segment-4-card-description {
  margin: 10px 0px;
  color: #fff;
}
