.form {
  display: flex;
  flex-direction: column;
  padding: 2em 5em;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}

.sign-up-form-customer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  max-height: 75%;
  overflow-y: scroll;
  padding-right: 20px;
  /* box-sizing: border-box; */
  align-items: flex-start;
  justify-content: center;
  margin: 0px;
}

.sign-up-form-builder {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  overflow-y: scroll;
  height: 75%;
  /* padding-top: 50%; */
  align-items: flex-start;
  justify-content: center;
  margin: 0px;
  /* border: 1px solid black; */
  /* background-color: aqua; */
}

.sign-up-form-customer::-webkit-scrollbar,
.sign-up-form-builder::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sign-up-form-customer::-webkit-scrollbar-track,
.sign-up-form-builder::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.sign-up-form::-webkit-scrollbar-thumb,
.sign-up-form-builder::-webkit-scrollbar-thumb {
  background: #4daa57;
  border-radius: 10px;
}

.fadeout {
  opacity: 1;
  transition: opacity 1.7s;
  animation: fadeout 1.7s forwards;
}

.fadein {
  opacity: 0;
  transition: opacity 1.7s;
  animation: fadein 1.7s forwards;
}

.form > h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: #2c554f;
  margin: 15px;
}

.fields-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}

.input {
  width: 97%;
  box-sizing: border-box;
  font-size: 1.5em;
}

.long-input {
  width: 98%;
  font-size: 1.5em;
}

.highlighted-text {
  color: #4daa57;
}

.show-password-choice-holder {
  width: 83%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 5px;
  font-size: larger;
  color: #2c554f;
  font-weight: 500;
}

.show-password-choice {
  height: 20px;
  width: 20px;
  accent-color: #4daa57;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1em;
}

.signin-btn,
.signup-btn {
  padding: 10px 25px;
  font-size: 1.3em;
  border-radius: 8px;
  border: 2px solid #2c554f;
  background-color: transparent;
  color: #2c554f;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  align-self: center;
}

.signup-btn {
  margin-top: 15px;
}

.signin-btn:disabled,
.signup-btn:disabled {
  cursor: not-allowed;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-segment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-segment-actions {
  display: flex;
  width: fit-content;
  align-self: flex-end;
  margin-top: 10px;
}
.next-btn,
.prev-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  background-color: #4daa57;
}

.next-btn {
  margin-left: 10px;
}

.prev-btn {
  margin-right: 10px;
}

.next-icon,
.prev-icon {
  height: 17px;
  width: 17px;
  object-fit: contain;
  filter: invert(100%);
}
.next-icon {
  margin-left: 3px;
  transform: rotate(270deg);
}
.prev-icon {
  margin-right: 3px;
  transform: rotate(90deg);
}
.services {
  box-sizing: border-box;
  cursor: pointer;
  width: 75%;
  margin: 0px 5px;
  height: 100%;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  text-transform: capitalize;
  outline: none;
}
.services-label {
  align-self: center;
  font-weight: 500;
  margin: 5px;
}
