* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
}
.html {
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
}

.body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#footer {
  z-index: 15;
  height: fit-content;
  width: fit-content;
  position: sticky;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10px;
  background-color: transparent;
}
