.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-self: center;
  margin: 50px;
  border: 10px solid rgb(231, 190, 231);
  border-top: 10px solid purple;
  animation: spin 1.5s linear 0s infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
