.profile-page {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  /* padding: 1em 4em 1em 4em; */
  background-color: #fff;
  margin: 0px;
}

.profile-page-left {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
  justify-content: flex-start;
}

.profile-page-right {
  box-sizing: border-box;
  width: 50%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0em 2em;
  align-items: center;
  overflow: hidden;
  position: sticky;
  top: 20%;
  bottom: 0;
  justify-content: center;
}

.img-banner {
  margin-top: 2em;
  width: 80%;
  height: fit-content;
  object-fit: contain;
}

.profile-page-right > h1 {
  color: #2c554f;
  font-size: 2em;
  margin: 0px;

  text-align: center;
}

.highlighted-text {
  color: #4daa57;
}

.empty-list-message {
  color: #4daa57;
  font-weight: 600;
}
